<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Account</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>User Name</td>
        <td>Pass word</td>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${account}">
        <td th:type="text" th:text="${account.userName}" th:name="${account.userName}"/>
        <td th:type="text" th:text="${account.passWord}" th:name="${account.passWord}"/>
    </tr>
    </tbody>
</table>
</body>
</html>